body {
  box-sizing: border-box;
  /* layout */
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 24px;

  /* font */
  font-family: Roboto, Arial, sans-serif;
  color: rgb(3, 3, 3);
  line-height: 1.2rem;
  font-size: 14px;

  /* color */
  background-color: rgb(248, 248, 248);
}
/* UNIVERSAL STYLING */

/* AVATARS */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
button {
  cursor: pointer;
}

/* action buttons */
button.action {
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 16px;
  letter-spacing: 0.007px;
}
h1 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.details {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
/* linklike buttons */
.linklike {
  background: none;
  border: none;
  padding: 0;
  margin: 8px 0 0 0;
  text-transform: uppercase;
  color: rgb(96, 96, 96);
  font-size: 12px;
  font-weight: 500;
}

/* MAJOR PAGE ELEMENTS */

/* NAVBAR */
/* misc */
.main-nav .avatar {
  width: 36px;
  height: 36px;
}
.main-nav button {
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  background: none;
}
.main-nav button .icon {
  height: 20px;
  width: 20px
}
.main-nav button:hover, .main-nav button:active {
  background-color: rgb(240, 240, 240);
}

/* layout */

.main-nav {
  /* page layout */
  position: sticky;
  top: 0;
  grid-column: 1 / 3;
  z-index: 100;

  /* size */
  height: 56px;
  padding: 0 24px;

  /* color */
  background-color: rgba(255, 255, 255, 0.98);

  /* navbar layout */
  display: flex;
  justify-content: space-between;
}

.nav-group { /* Three groups across the top */
  display: flex;
  align-items: center;

  /* for middle group */
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
}

.nav-group:first-child, .nav-group:last-child {
  width: min-content;
  flex-grow: 0;
  flex-shrink: 0;
}

.main-nav button.linklike {
  border: none;
  background: none;
}

/* logo */
.main-nav .logo {
  height: 20px;
  padding-left: 20px;
}

/* search form */
.main-nav .search-input {
  /* layout */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 475px;

  /* size and shape */
  border-radius: 2px 0 0 2px;
  height: 38px;
  border: 1px solid rgb(204, 204, 204);
  padding: 0 2px 0 12px;

  /* color */
  box-shadow: inset 0 3px 3px rgb(248, 248, 248);

  /* font */
  font-size: 16px;
}
.main-nav .search-input::placeholder {
  color: rgb(138, 138, 138);
  font-weight: 200;
}

.main-nav button.search-button {
  /* size and shape */
  border-radius: 0 2px 2px 0;
  height: 40px;
  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  background-color: rgb(248, 248, 248);

  /* margin */
  margin-right: 12px;
}



/* CONTENT */
.main-content {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}
/* trick for preserving aspect ratio in the iframe */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; 
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-content .video-title {
  font-size: 18px;
  font-weight: normal;
  margin: 24px 0 20px 0;
}
.main-content figcaption .details {
  font-size: 14px;
}
.main-content figure {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.video-info {
  padding: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: min-content 1fr min-content;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.video-info .avatar {
  width: 50px;
  height: 50px;
}
.action.subscribe {
  background-color: rgb(187, 39, 26);
}

.comments-section {
  padding: 20px 0;
}
.comments-section header {
  display: flex;
  align-items: baseline;
  gap: 36px;
  padding-bottom: 20px;
}
.comments-section header p {
  font-size: 16px;
}
.comments-section header button.linklike {
  font-size: 14px;
  color:rgb(3, 3, 3);
  font-weight: 500;
}

/* user comments */
.comments-section section {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 16px;
  margin-bottom: 20px;
}
.comments-section input {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  font-size: 14px;
}
.comments-section article p{
  padding-bottom: 24px;
}
.comments-section article p:last-child{
  padding-bottom: 0;
}
.comments-section a {
  color: #065FD4;
  text-decoration: none;
}
.comments-section .reaction {
  display: flex;
  align-items: baseline;
  gap: 16px
}
.comments-section .reaction .avatar {
  width: 14px;
  height: 14px;
}


/* SIDEBAR */
.sidebar {
  padding-right: 24px;
}

.buy-ad header {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-bottom: 10px;
}
.buy-ad h1 {
  grid-column: 1 / 2;
  font-size: 16px;
}
.buy-ad .details {
  grid-column: 1 / 2;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.buy.action {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: rgb(41, 93, 205);
}

.buy-ad img {
  width: 100%;
}

.suggested-search-terms {
  margin: 16px 0;
  display: flex;
  overflow: hidden;
  gap: 6px;
}

.suggested-search-terms button {
  font-size: 14px;
  border: 1px solid rgb(212,212,212);
  background-color: rgb(236, 236, 236);
  height: 32px;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
}
.suggested-search-terms button:hover {
  background-color: rgb(223, 223, 223);
  border-color: rgb(200, 200, 200);
}

.suggested-search-terms button.selected {
  color: white;
  background-color: rgb(3, 3, 3);
  border-color: rgb(3, 3, 3);
}

.other-videos section {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 12px;
}

.other-videos img {
  width: 168px;
}

.other-videos h1 {
  /* limit to two lines */
  /* firefox? */
  width: 100%;
  max-height: 2.4rem;
  overflow: hidden;

  /* chrome */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.other-videos .badge {
  background-color: rgb(236, 236, 236);
  font-weight: 500;
  border-radius: 2px;
  width: min-content;
  padding: 0 4px;
}